* {
  margin: 0;
  box-sizing: border-box;
}

/* FONTS */

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.karma-light {
  font-family: "Karma", serif;
  font-weight: 300;
  font-style: normal;
}

.karma-regular {
  font-family: "Karma", serif;
  font-weight: 400;
  font-style: normal;
}

.karma-medium {
  font-family: "Karma", serif;
  font-weight: 500;
  font-style: normal;
}

.karma-semibold {
  font-family: "Karma", serif;
  font-weight: 600;
  font-style: normal;
}

.karma-bold {
  font-family: "Karma", serif;
  font-weight: 700;
  font-style: normal;
}
