:root{
    /*margins*/
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-s: 0.75rem;
    --margin-m: 1rem;
    --margin-l: 1.25rem;
    --margin-xl: 1.5rem;
    --margin-xxl: 1.75rem;
    --margin-xxxl: 2.5rem;
    
    /*Colors*/
    --preto:hsl(204, 61%, 8%);
    --escuro: hsl(204, 61%, 15%);
    --claro: hsl(204, 61%, 50%);
    --branco: hsl(204, 61%, 95%);
    --corlinhas: hsl(204, 61%, 25%);
    --corfundo: hsl(60, 56%, 91%);
    
    /*Fonts*/
    --ff: "Libre Caslon Display", serif;
    --ff1: "Cinzel", serif;
    --tiny: clamp(0.5628rem, 0.7208rem + -0.1317vw, 0.6944rem) var(--ff);
    --small: clamp(0.7502rem, 0.85rem + -0.0831vw, 0.8333rem) var(--ff);
    --p: clamp(1rem, 1rem + 0.7705vw, 1rem) var(--ff);
    --h6: clamp(1.2rem, 1.1734rem + 0.133vw, 1.333rem) var(--ff);
    --h5: clamp(1.44rem, 1.3726rem + 0.3369vw, 1.7769rem) var(--ff);
    --h4: clamp(1.728rem, 1.5999rem + 0.6406vw, 2.3686rem) var(--ff);
    --h3: clamp(2.0736rem, 1.8569rem + 1.0837vw, 3.1573rem) var(--ff1);
    --h2: clamp(2.4883rem, 2.1442rem + 1.7204vw, 4.2087rem) var(--ff1);
    --h1: clamp(2.986rem, 2.4611rem + 2.6242vw, 5.6102rem) var(--ff1);
    --big: clamp(3.5832rem, 2.8041rem + 3.8953vw, 7.4784rem) var(--ff1);
    }
    
    /*box reset*/
    *,*::before,*::after{
        box-sizing:border-box;
    }
    
    *{
        margin:0;
        padding:0;
        font-size: 16px;
    }
    
    html {
        background-image: url('images/bg.jpg');
        background-size: cover;
    }

    /*header*/
    
    header{
        background-color: var(--preto);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    
    header h1 {
        color: var(--branco);
        font: var(--h1);
        font-weight: bold;;
    }
    
    header img {
        height: 9vh;
        margin: var(--margin-m);
    }

    /*containers*/

    .formContainer, .searchContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .formContainer {
        margin: var(--margin-xl) 0;
        width: 100%;
    }
    
    .searchContainer img {
        height: 4vh;
        margin: 0 var(--margin-xxs);
    }

    .searchContainer img:hover {
        scale: 1.05;
    }
    
    .agenda{
        display: flex;
        margin: .2em 20em;
        position: relative;
    }

    /*tabela*/

    .table{
        border: 5px solid var(--corlinhas);
        width: 100%;
        margin: var(--margin-s) auto;
        border-collapse: collapse;
        border-right: .2em solid var(--corlinhas);

    }

    thead{
        background-color: var(--corfundo);
        font: var(--h5);
        border-bottom: .2em solid var(--corlinhas);
    }

    thead th {
        padding: 10px;
        text-align: left;
        border-right: .2em solid var(--corlinhas);
        font: var(--h5);
        font-weight: bold;
    }

    tbody{
        text-align: left;
        background-color: var(--corfundo);
    }

    td {
        color: var(--escuro);
        font: var(--h6);
        font-weight: 400;
        height: auto;
        padding: 8px;
        border-bottom: .1em solid var(--corlinhas);
        max-width: 300px; 
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    /*index*/
    
    .index{
        display: flex;
        flex-direction: column;
        margin: var(--margin-s) auto;
        margin-left: 0;
        border-top: 5px solid var(--corlinhas);
        border-right: 5px solid var(--corlinhas);
        border-bottom: 5px solid var(--corlinhas);
        background-color: var(--corfundo);
        align-items: center;
    }

    .index a{
        color: var(--corlinhas);
        font: var(--p);
        font-weight: 300;
        text-decoration: none;
    }

    .index a:hover{
        cursor: pointer;
        scale: 1.1;
        font: var(--h5);
        text-decoration: underline;
    }

    /*input*/

    input {
        color: var(--branco);
        font: var(--h6);
        font-weight: 600;
        background-color: var(--escuro);
    }

    ::placeholder {
        color: var(--branco);
        font: var(--h6);
        font-weight: 500;
        padding-left: .2vw;
    }

    .searchBox {
        width: 30%;
    }


    /*footer*/

    footer{
        width: 100%;
        background-color: var(--escuro);
        bottom: 0;
        text-align: center;
        left: 0;
        position: fixed;
        color: var(--branco);
        padding: .2em;
    }
    
    /*btns*/

    .btn{
        color: var(--branco);
        background-color: var(--escuro);
        border: none;
        padding: .1em .1em;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 10%;
        font: var(--h6);
        font-weight: 500;
    }
    .btn:hover{
        scale:1.05;
        font-weight: 600;
        background-color: var(--escuro);
    }
    


/* Media Query para Tablets */
@media screen and (max-width: 1024px) and (min-width: 768px) {

    .agenda {
        margin: .2em 5em; 
    }

    header img {
        height: 7vh; 
    }

    .formContainer, .searchContainer {
        flex-direction: column; 
        align-items: center; 
    }

    .formContainer {
        margin: var(--margin-m) 0; /* Ajustando margem */
    }

    .searchContainer img {
        margin: var(--margin-xs) 0 0 0; 
    }

    .table {
        font-size: var(--small); 
    }

    .index {
        margin: var(--margin-s) 0;
    }

    .index a {
        margin: var(--margin-xxs); 
    }
}

/* Media Query para Dispositivos Móveis */
@media screen and (max-width: 767px) {
    .agenda {
        margin: .2em 1em; 
    }

    header img {
        height: 6vh;
        margin: var(--margin-s) 0; 
    }

    header h1 {
        font-size: var(--h3); 
    }

    .formContainer{
        flex-direction: column; 
    }

    .formContainer {
        margin: var(--margin-s) 0; 
    }

    .searchContainer img {
        margin: var(--margin-xxs) 0 0 0; 
    }

    .table {
        font-size: var(--tiny); 
    }

    .index a {
        margin: var(--margin-xxs); 
        font-size: var(--tiny); 
    }
    
    input, .searchBox {
        width: 100%; 
        max-width: 300px;
    }
}
