* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header { 
    padding: 16px 0;
    background-color: #182C61;
    color: #ecf0f1;
}

header, section h2, section h3, form button {
    font-family: "Bungee", serif;
    font-weight: normal;
}

body, input, textarea {
    font-family: "Roboto", sans-serif;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;

}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto; 
}

header .container, section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.brands-list img {
    height: 24px;
    margin-right: 8px;
}

.brands-list li {
    display: inline;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;    
    color: #182C61;
}

section h2 {
    margin-bottom: 16px;
    color: #182C61;
}

section p {
    margin-bottom: 8px;
}

.logo {
    margin-right: 32px;
}

form textarea {
    resize: none;
    height: 120px;
}

.social-list img {
    height: 24px;
}

.social-list li {
    display: inline;
    margin-right: 8px;
}

.social-list li a {
    text-decoration: none;
}


#contact .container {
    display: block;
}

.contact-form {
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px 
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182C61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #4364be;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
}

@media screen and (max-width: 992px) {
    header .container, section .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 16px;
        margin-right: 0;
    }

    .contact-form {
        flex-direction: column;
    }

    form input, form textarea, form button {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    header nav li {
        display: block;
        margin: 8px 0;
    }

    .brands-list img, .social-list img {
        height: 18px;
    }

    .brands-list li, .social-list li {
        margin-bottom: 8px;
    }

    section h2, section h3 {
        font-size: 20px;
    }

    section p {
        font-size: 14px;
    }
}